body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}
h1{
    text-align: center;
    letter-spacing: 0.6em;
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}
h2{
    font-size: 1.5em;
    padding-bottom: 1em;
}
main{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}